:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

h3 {
  font-size: 1.8em;
  line-height: 1.1;
}

h4 {
  font-size: 1.2em;
  line-height: 1.1;
}

ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

ul li {
  display: flex;
  align-items: center;
}

ul li::before {
  content: '👉';
  margin-right: 8px;
  display: inline-block;
}

.title {
  display: block;
}

.centered-text {
  text-align: center;
  max-width: 40em;
  margin: 0 auto;
}

.left-text {
  text-align: left;
  padding-left: 1.4em;
}

/* ------- */
.control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 300px;
  margin-bottom: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
